#tryIt{
    margin-bottom: 20px;
}
.D-flex-justfy-center{
    display: flex;
    justify-content: center;
}
#currentNum{
    font-size: 1.1rem;
    margin-bottom: 25px;
}
.cancelBtn{
    height: 30px;
    margin-top: 15px;
}
.inline-block{
    display: inline-block;
}
button{
    cursor: pointer;
    font-family: cursive;
    background-color: #FFD369;
    border: none;
    font-size: 1.1rem;
    border-radius: 12px;
    height: 30px;
}
button:hover{
    opacity: 0.8;
    transition: 0.125s;
}
.center-text{
    text-align: center;
    align-items: center;
}
#title{
    font-size: 2.5rem;
}
#generator{
    display: flex;
    flex-direction: column;
}
.content-table{
    font-size: 0.9rem;
    min-width: 350px;
    min-height: 110px;
    margin-top: 0px;
    margin-bottom: 0px;
    border-spacing: 3.5px;
}
.content-table th, .content-table td {
    padding: 12px 15px;
}
#board{
    gap: 13px;
    font-size: 1.2rem;
}
.newGame{
    margin-bottom: 50px;
    margin-top: 30px;
}
.item{
    border: none;
    background-color: #222831;
    color: #EEEEEE;
    font-size: 1.5rem;
    padding: 0px;
    margin: 5px;
    margin-bottom: 30px;
}
.imgInfo{
    height: 30px;
    cursor: pointer;
    margin-top: 20px;
}
.imgInfo:hover{
    opacity: 0.8;
    transition: 0.125s;
}
#info{
    margin-top: 35px;
    text-align: left;
    font-size: 1.1rem;
    line-height: 1.7;
}
.win-div{
    text-align: center;
}
.child-win-div{
    width: 80vh;
    height: 35vh;
    background-color:rgb(34, 40, 49,0.95);
    position: fixed;
    bottom: 400px;
}



